---
import Lamp from "../components/lamp";
import PageLabel from "../components/pageLabel";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About us">
  <main class="pt-[10rem] relative font-poppins top-20">
    <PageLabel label="about us" className=" top-[-6rem] left-[15rem]" />
    <Lamp client:visible />
    <div
      class="absolute top-[85%] left-[38%] uppercase text-white"
      transition:animate="fade"
    >
      <p class="text-[40px] leading-[76px]">
        we are a digital mar<span class="text-second text-[45px]">k</span>eting
        agency.
      </p>
      <p class="mt-[40px] leading-[60px] text-[32px]">
        <span class="text-second text-[45px]">k</span>atshy is a leading design
        & software development agency. We help startups and companies to
        advance, spread and improve quality
      </p>
    </div>
  </main>
</Layout>
<style></style>
