---
import Image from "astro/components/Image.astro";
import PageLabel from "../components/pageLabel";
import Layout from "../layouts/Layout.astro";
import cLetter from "../../public/img/c.png";
import facebook from "../../public/img/face.png";
import ins from "../../public/img/ins.png";
import behance from "../../public/img/be.png";
---

<Layout title="contacts">
  <main class="text-white">
    <PageLabel label="contacts us" className="top-[8rem] left-[13rem]" />
    <div class="relative top-[13rem] left-[10rem] flex items-center">
      <Image src={cLetter} alt="C" width="400" />
      <div
        class="flex items-center gap-[5rem] relative left-[-8rem] top-[-0.5rem]"
      >
        <a href=".">
          <div class="flex items-center gap-[1rem]"><p>01068389335</p></div>
        </a>
        <a href=".">
          <div class="flex items-center gap-[0.5rem]">
            <Image src={facebook} alt={"facebook"} width="100" />
            <p><span class="text-second">K</span>atshy</p>
          </div>
        </a>
        <a href=".">
          <div class="flex items-center gap-[0.5rem]">
            <Image src={ins} alt={"instegram"} width="100" class="opacity-40" />
            <p><span class="text-second">K</span>atshy</p>
          </div>
        </a>
        <a href=".">
          <div class="flex items-center gap-[0.5rem]">
            <Image src={behance} alt={"behance"} width="100" />
            <p><span class="text-second">K</span>atshy</p>
          </div>
        </a>
      </div>
    </div>
  </main>
</Layout>
