---
import Layout from "../layouts/Layout.astro";
import LoadingPage from "../components/loadingPage";
import Strp from "../components/Strap";
import Lamp from "../components/lamp";
import Slogan from "../components/slogan";
import "../styles/index.css";
import NexButton from "../components/nexButton";
---

<Layout title="Katshy">
  <LoadingPage client:visible className="z-10" />
  <main class="relative top-0 w-full pt-[7rem] overflow-hidden h-screen">
    <Slogan client:only />
    <Lamp client:only transition:name="lamp" />
    <Strp
      className={`absolute rotate-45 top-[25%] left-[-10%] md:top-[30%]  xl:left-[-25rem] bg-[#D2FC1C] md:left-[-5rem] `}
    />
    <Strp
      className={`absolute rotate-[-10deg] top-[80%] lg:top-[75%] xl:top-[65%] left-[-7rem] lg:left-[-6rem] xl:left-[-5rem] bg-[#212121] text-[#D2FC1C]`}
    />
    <NexButton
      link={"/services"}
      className={"absolute bottom-[4rem] md:bottom-[7rem] lg:bottom-[2rem] xl:bottom-[4rem] right-8 md:left-[3rem] lg:right-[3rem] xl:left-[70rem] "}
      client:visible
    />
  </main>
</Layout>
