---
import ServicesCards from "../components/servicesCards";
import Layout from "../layouts/Layout.astro";
import PageLabel from "../components/pageLabel"
---

<Layout title="services">
  <main class="relative top-[4rem] left-[30rem]">
    <PageLabel label={'services'} className={'left-[-20rem]  top-[6rem]'}/>
    <div class="flex flex-wrap gap-[22px] w-[70%]" transition:animate="slide">
      <ServicesCards
        title={"Graphic Design."}
        content="Through custom graphics, at Katshy, your ideas as become tangible. We have gifted designers to develop a logo, business cards, fold ups, and Facebook covers for your brand. So why not let us help you make an impression that will last for years."
        link={"."}
      />
      <ServicesCards
        title={"Social media Marketing."}
        content="at Katshy we elevate your brand to the next level on social media. We have experts who are developing strategies to target the right market and advertise the internet platforms. Our team is ready to help you get closer to your customers and set your business apart."
        link={"."}
      />
      <ServicesCards
        title={"Web service."}
        content="At Katshy, we bring your vision to the web. Our expert team designs and develops custom websites that are visually stunning and user-friendly. Let us help you establish a powerful online presence."
        link={"."}
      />
      <ServicesCards
        title={"Video Editing."}
        content="we enhance your footage with expert video editing. Our skilled team refines and transforms your videos into polished, engaging content that captures your audience's attention. Let us help you create stunning visual stories."
        link={"."}
      />
      <ServicesCards
        title={"media production."}
        content="we bring your stories to life. Our expert team creates high-quality videos, animations, and audio content tailored to your brand. Let us help you captivate your audience with professional media production."
        link={"."}
      />
      <ServicesCards
        title={"App service."}
        content="At Katshy, we turn your ideas into powerful apps. Our skilled team designs and develops custom mobile applications that are intuitive and engaging. Let us help you create an impactful app experience."
        link={"."}
      />
    </div>
  </main>
</Layout>
<style></style>
